* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.title, header, main, footer {
    
    
}

.title {
    margin-top: 36px;
}

footer > p > a:hover {
    transition: .3s linear;
    color: #E0143D;
}