html {
    min-height: 100%;
    background-color: black;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    padding: clamp(1rem, 5vw, 6rem);
}

nav > a {
    color: rgb(255, 255, 255, 0.25);
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    position: relative;
}

nav > a:hover {
    transition: .4s linear;
    color: rgb(255, 255, 255);
}

nav > a > span {
    display: block;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    z-index: 2;
}

nav > a > span:hover {
    transition: .4s linear;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

nav > a > img {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 200ms, opacity 250ms;
    pointer-events: none;
    width: min(50vw, 800px);
}

nav > a:hover > img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

}

.me {
    margin-top: 15px;
}

.plus {
    color: white;
}

.divition {
    color: white;
    margin-top: 15px;
}

footer > a {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.55);
}

footer > a:hover {
    transition: .3s linear;
    color: rgba(205, 9, 9, 0.55);
}

footer {
    margin-top: 30px;
    color: rgb(255, 255, 255, 0.55);
}