* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.title {
    display: block;
    margin-bottom: 45px;
}

.arch {
    font-family: 'Monoton', cursive;
}

.sculpture {
    font-family: 'Blaka Ink', cursive;
}

.painting {
    font-family: 'Splash', cursive;
}

.literature {
    font-family: 'Monsieur La Doulaise', cursive;
}

.music {
    font-family: 'Warnes', cursive;
}

.performing {
    font-family: 'Rubik Glitch', cursive;
}

.film {
    font-family: 'Rubik Burned', cursive;
}

.coding {
    font-family: 'Rubik Maze', cursive;
}

.class > h1 {
    margin: 0;
    padding: 0;
}

header > ul > li > a > span {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    z-index: 2;
}

header > ul > li > a > span:hover {
    transition: .3s linear;
    border-top-color: white;
    border-bottom-color: white;
}

header > ul > li > a {
    color: rgb(255, 255, 255, 0.25);
    font-size: 1.2rem;
    font-weight: 300;
}

header > ul > li > a:hover {
    transition: .3s linear;
    color: white;
}

.nav-bar {
    position: sticky;
    margin-top: 10px;
    margin-bottom:0;
    top: 0;
    height: 20vh;
    background-color: #000000;
}

.share {
   cursor: pointer;
   margin-bottom: 200;
   color: rgb(255, 255, 255, 0.25);
   width: 115px;
   height: 40px;
   background-color: rgba(255, 255, 255, 0.103);
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   position: relative;
   transition: 1s linear;
}

.share {
    cursor: pointer;
    margin-bottom: 200;
    color: rgb(255, 255, 255, 0.25);
    width: 115px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: 1s linear;
 }

.share:hover {
    transform: scale(1.1);
}

.share > span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff10;
    color: #ffffff3b;
    text-align: center;
    line-height: 40px;
    z-index: 999;
    transition: .8s linear;
    border-radius: 50px;
}

.share:hover > span {
    color: #ffffff;
}

.share:hover > span {
    transform: translateY(-100%);
    transition-delay: .3s;
}

.share > a{
    flex: 1;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    transform: translateY(-100%);
    opacity: 0;
    transition: .3s linear;
}

.share:hover > a {
    opacity: 1;
    transform: translateX(0);
}

.share  a:nth-of-type(1){
    transition-delay: 1s;
}

.share  a:nth-of-type(2){
    transition-delay: .8s;
}

.share  a:nth-of-type(3){
    transition-delay: .6s;
}

.share  a:nth-of-type(4){
    transition-delay: .4s;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    justify-content: center;
    display: flex;
    flex: 2;
    flex-direction: column;
}

main > article > div > img {
    border-radius: 20px;
}

main > article > div > div > img {
    border-radius: 20px;
}

.text > p {
    text-align: justify;
}

.text {
    margin-bottom: 5vh;
}

p {
    margin-top: 10px;
}

div > img {
    margin-top: 15px;
    /* border: 4px solid #ffffff; */
}

aside {
    margin-left: 6vh;
    margin-top: 7.8vh;
    display: flex;
    flex: 1;
    background-color: #242424cc;
    border-radius: 20px;
    overflow-y: scroll;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

article {
    overflow-y: scroll;
}

#disqus_thread {
    width: 100%;
    height: 100%;
}

.sans-serif .thread__wrapper{
    color: #ffffff;
}

.comments {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.sans-serif {
    color: wheat;
}

footer, p > a {
    padding-left: 3px;
    color: rgb(255, 255, 255, 0.25);
}

footer > p > a:hover {
    transition: .3s linear;
    color: rgb(205, 9, 9);
}

.fa-heart {
    padding-left: 3px;
    padding-right: 3px;
    color: #CC0100;
} 


/* .magic {
    color: red;
} */

h1 > .magic {
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
}

.me {
    font-family: 'Nabla', cursive;
}

.tweets {

}

.thanks {
    font-family: 'Nabla', cursive;
}